@import url(/css/component/variables.css);
@import url(/css/component/layout.css);

.main-layout {
    margin: 3rem 0 2.5rem 0
}
.back-button {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1.5rem;
}

.back-button .icon {
    margin-right: 1.25rem;
}

.back-button .text {
    flex: 1;
}

.details .news-type {
    margin-top: 0.5rem;
    color: var(--news-color);
}

.details .news-type.blog {
    color: var(--blogs-color);
}

.details .news-title {
    margin-bottom: 0.5rem;
}

.details .date-tags  {
    color: var(--color9);
    display: flex;
    align-items: center;
}
.details .bullet {
    padding: 0 0.5rem;
}

.details .tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.details .tags .tag {
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 20px;
    background-color: var(--tag-background);
    color: var(--color5);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.news-image {
    margin: 2.5rem 0;
    width: 100%;
}
.news-image img {
    width: 100%;
    height: auto;
}

.share-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.share-links .share-link:not(:last-child) {
    margin-right: 1rem;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1.5rem;
}

.social-links .social-link:not(:last-child) {
    margin-right: 1.75rem;
}