@import url(../component/components.css);

.section {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
}
.tab-content {
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
    padding-top: 3.5rem;
    text-align: center;
}
.tab-content .introduction {
    text-align: center;
}
.tab-content .introduction,
.tab-content .two-sides-content.product {
    margin-bottom: 3.5rem;
}

.tab-content .two-sides-content.product .left-side {
    margin-right: 0.75rem;
}

.tab-content .two-sides-content.product .right-side {
    margin-left: 0.75rem;
}
.tab-content .two-sides-content.product .product-name {
    margin-bottom: 0.5rem;
}
.tab-content .two-sides-content.product .product-description {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.tab-content .two-sides-content.product .button {
    margin-top: 0.5rem;
}

.tab-content.product .product-image {
    border: 0.75rem;
}

.product-details {
    padding-left: calc(2 * var(--section-padding));
    padding-right: calc(2 * var(--section-padding));
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.card {
    border-radius: 12px;
}

.gradient-border {
    position: relative;
    background: linear-gradient(204.13deg, rgba(210, 210, 210, 0.6) 16.07%, rgba(116, 116, 116, 0) 85.68%);
    padding: 2px;
}

.gradient-border > .background,
.gradient-border > .background-overlay {
    background: var(--bg);
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 12px;
}
.gradient-border > .background-overlay {
    background: linear-gradient(204.13deg, rgba(210, 210, 210, 0.3) 16.07%, rgba(116, 116, 116, 0) 85.68%);
}
.card .content {
    padding: 1.5rem 2rem;
    position: relative;
}

.slash-bullet {
    position: relative;
    height: 24px;
    width: 20px;
    margin-right: 0.625rem;
}

.slash-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(-100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
}

.slash-bullet::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    opacity: 0.4;
}

.os-lineup table tr:not(:first-child):not(:last-child) {
    border-bottom: 2px solid var(--color7);
}
.os-lineup table tr th:first-child,
.os-lineup table tr td:first-child {
    width: 35%;
}

.gradient-text {
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.section-advantage {
    padding-top: 2.5rem;
    padding-left: var(--section-padding);
    padding-right: var(--section-padding);
    padding-bottom: 2.5rem;
}
.section-advantage .section-title,
.section-support-service .section-title {
    margin-bottom: 2.5rem;
}

.section-advantage .advantages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section-advantage .advantages-list .advantage {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.section-advantage .advantages-list .advantage:not(:last-child) {
    margin-right: 0.75rem;
}
.section-advantage .advantages-list .advantage:not(:first-child) {
    margin-left: 0.75rem;
}

.section-support-service {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: calc(2 * var(--section-padding));
    padding-right: calc(2 * var(--section-padding));
}

.section-key-features {
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    padding: 2.5rem var(--section-padding);
}

.section-architecture {
    padding-top: 0;
    padding-bottom: 5rem;
    padding-left: calc(2 * var(--section-padding));
    padding-right: calc(2 * var(--section-padding));
}