@import url(./variables.css);
button, .button.button, .btn {
    --active-width: 1px;
    padding: 1px;
    font-size: 1rem;
    border-radius: 2px;
    transition: 0.3s;
    position: relative;
    background: linear-gradient(351deg, rgba(255,255,255,1) 0%, rgba(114,114,114,0.4) 50%, rgba(255,255,255,1) 100%);
}
button .button-text, .button .button-text, .btn .button-text {
    padding: 0.75rem 1.5rem;
    background: var(--color5);
    color: var(--color1);
    border-radius: 2px;
    font-weight: bold;
    line-height: 1.25rem;
    position: relative;
}

.button.border-button .button-text{
    background: var(--bg);
    color: var(--color5);
}

.button.border-button:hover .button-text {
    background: var(--color5);
    color: var(--bg);
}

.button .button-hover-background {
    opacity: 0;
    transition: 0.3s ease-in;
}

.button:hover .button-hover-background {
    opacity: 1;
}

.button .button-hover-background > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.25%, rgba(255, 255, 255, 0) 100%);
    filter: blur(4px);
}

.button .button-hover-background .ellipse1 {
    height: 4px;
    left: -56px;
    right: -56px;
}

.button .button-hover-background .ellipse2 {
    height: 18px;
    left: -17px;
    right: -17px;
}

.button .button-hover-background .ellipse3 {
    height: 28px;
    left: -51px;
    right: -51px;
    filter: blur(24px);
}