/* Section contact us*/

.section.section-contact-us {
    position: relative;
    overflow: hidden;
    padding: 4rem;
    background: radial-gradient(100% 100% at 48.86% 100%, #040A10 37.91%, #262626 63.7%, #242424 72.74%, #040A10 100%), #0F163D;
}

.section.section-contact-us .background {
    position: absolute;
    width: 1494px;
    height: 870px;
    left: calc(50% - 1494px/2);
    top: calc(50% - 870px/2 - 38px - 4rem);
    padding: calc(870px/2 + 38px - 12rem) calc(1494px/2 - 50%) calc(870px/2 - 38px - 18rem) calc(1494px/2 - 50%);
    overflow: hidden;
}

.section.section-contact-us .content{
    position: relative;
}

.section-contact-us .content .description {
    margin-bottom: 1.5rem;
}

.section-contact-us .background .background-color-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-contact-us .background .background-color {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-contact-us img {
    height: 20rem;
}

.section-contact-us .svg-background-wrapper {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    overflow: hidden;
}

.section-contact-us .svg-background {
    background-image: url(/images/contact-us-background.svg) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-us-form .input-group-image {
    padding-top: 2.25rem;
    padding-bottom: 2.5rem;
}

.contact-us-form .image {
    padding-left: 1.5rem;
}

.contact-us-form .form-field:first-child {
    margin-top: 0.25rem;
}

.contact-us-modal .content-details{
    background: linear-gradient(0deg, rgba(65, 65, 65, 0) 12.37%, rgba(26, 26, 26, 0.2) 73.72%, rgba(255, 255, 255, 0.2) 143.21%), #040A10;
    width: 100%;
    height: 100%;
    padding: 2.25rem 6.5rem;
    max-height: calc(100vh - 8rem);
    overflow: hidden;
}

.contact-us-modal .content-details .left-side {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    max-height: calc(100vh - 8rem - 5.5rem);
}

.contact-us-modal .content-details .project-name {
    color: var(--color9);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: 1rem;
}