li.custom {
    display: flex;
    justify-content: start;
}

.slash-bullet {
    position: relative;
    height: 24px;
    width: 20px;
    margin-right: 0.625rem;
}

.slash-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(-100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
}

.slash-bullet::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 6px;
    transform: translate(100%, -50%) skewX(-45deg);
    background: linear-gradient(177.46deg, #FFFFFF 57.51%, #AFAFAF 87.85%);
    opacity: 0.4;
}

li {
    list-style-position: inside;
}