.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 10, 16, 0.6);
    z-index: 99;
}

.modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    border-radius: 32px 32px;
    z-index: 99;
    max-height: calc(100vh - 8rem);
    overflow: hidden;
}

.modal .close-button {
    position: absolute;
    top: 2.25rem;
    right: 2.25rem;
    background: var(--color7);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding-top: 0.5rem;
}

.modal .close-button span {
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    color: var(--color5);
}