
:root {
    /* Box */
    --section-padding: 0.5rem;
    --svg-padding: 12.375rem;
    --product-padding: 6.5rem;
    --news-main-radius: 1rem;
    --content-padding: 6.25rem;

    /* Colors */
    --color1: #1A1A1A;
    --color2: #4611a2;
    --color3: #E6E6E6;
    --bg: #040A10;
    --text-color: #ffffff;
    --color4: #F5FAFF;
    --color5: #ffffff;
    --news-color: #FFB905;
    --tech-color: #4C77F9;
    --blogs-color: #42C485;
    --color6: #4D4D4D;
    --color7: #333333;
    --color8: #CCCCCC;
    --color9: #B3B3B3;
    --color10: #666;
    --tag-background: #1977E3;
}


@media screen and (min-width: 640px) {
    :root {
        --section-padding: 1rem;
        --svg-padding: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --section-padding: 2rem;
        --svg-padding: 2.3rem;
    }
}
@media screen and (min-width: 992px) {
    :root {
        --section-padding: 5rem;
        --svg-padding: 7.625rem
    }
}
@media screen and (min-width: 1400px) {
    :root {
        --section-padding: 7.5rem;
        --svg-padding: 12.375rem
    }
}
