<div class="horizontal-line"/>
<footer class="section">
    <div class="logo"><img src="/assets/images/color_logo.png" alt="logo"></div>
    <div class="footer grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
        <div class="infomation col-span-2 ">
            <div class="font-bold text-title mb-6">
                MaaZ - MonoZukuri<br> Adaptive AUTOSAR
            </div>
            <div class="address-part mb-6">
                <div class="font-bold text-item">Head Quarter:</div>
                <div class="address whitespace-normal text-item">FPT Tower, Pham Van Bach street, Cau Giay district, Hanoi, Vietnam</div>
            </div>
            <div class="tel-part text-item mb-6">
                <span class="font-bold text-item">Tel.:</span>
                <a class="tel whitespace-normal ml-2 text-item" href="tel:+84 XXXXXXXX">+84 XXXXXXXX</a>
            </div>
            <div class="email-part mb-6">
                <span class="font-bold text-item">Email:</span>
                <a class="email whitespace-normal ml-1 text-item" href="mailto:fsoft@fpt.com.vn">email@fsoft.com.vn</a>
            </div>
        </div>

        <div class="products-list">
            <div class="font-bold footer-list-title text-item mb-6">Products</div>
            <ul>
                <li class="mb-3">
                    <a href="#">MaaZ Classic Platform</a>
                </li>
                <li class="mb-3">
                    <a href="#">MaaZ Adaptive Platform</a>
                </li>
                <li class="mb-3">
                    <a href="#">Flash bootloader</a>
                </li>
                <li class="mb-3">
                    <a href="#">Test Automation</a>
                </li>
            </ul>
        </div>
        <div class="services-list">
            <div class="font-bold text-item mb-6">Services</div>
            <ul>
                <li class="mb-3"><a href="#">AUTOSAR CLASSIC</a></li>
                <li class="mb-3"><a href="#">AUTOSAR ADAPTIVE</a></li>
                <li class="mb-3"><a href="#">Integrated Cockpit</a></li>
                <li class="mb-3"><a href="#">ADAS & AD</a></li>
                <li class="mb-3"><a href="#">Connected Car </a></li>
                <li class="mb-3"><a href="#">EV </a></li>
                <li class="mb-3"><a href="#">Car Amplifier</a></li>
                <li class="mb-3"><a href="#">Powertrain</a></li>
                <li class="mb-3"><a href="#">Body Electronics</a></li>
                <li class="mb-3"><a href="#">FuSa</a></li>
                <li class="mb-3"><a href="#">SECURITY</a></li>
                <li class="mb-3"><a href="#">ASPICE Fulfillment</a></li>
            </ul>
        </div>

        <div class="resource-list md:col-start-3 lg:col-start-5">
            <div class="font-bold text-item mb-6">Resources</div>
            <ul>
                <li class="mb-3"><a href="#">Blog</a></li>
                <li class="mb-3"><a href="resources/whitepaper.html">Whitepaper</a></li>
                <li class="mb-3"><a href="#">Case Study</a></li>
            </ul>   
        </div>
        <div class="company md:col-start-4 lg:col-start-6">
            <div class="font-bold text-item mb-6">Company</div>
            <ul>
                <li class="mb-3"><a href="#">About us</a></li>
                <li class="mb-3"><a href="#">News</a></li>
                <li class="mb-3"><a href="#">Contact us</a></li>
            </ul>   
        </div>
    </div>
</footer>
<div class="horizontal-line"/>