<a class="mostview-news-container" href="/resource/news_12.html">
    <div class="image">
        <img src="/assets/images/resource/news_12.png" alt="news_12">
    </div>
    <div class="news-content-wrapper">
        <div class="news-content">
            <div class="news-title">
                <span class="text-item">
                    The billionaire Philan thropist
                    read to learn
                </span>
            </div>
            <div class="news-header">
                <div class="news-type technology">
                    TECHNOLOGY
                </div>
                <span class="secparator text-color3">/</span>
                <span class="publish-date text-color3">26-03-2023</span>
            </div>
        </div>
    </div>
</a>