<!DOCTYPE html>
<html lang="en">
<head th:include="components/fragments :: headDeclaration('product', 'Classic Platform - Basic Software')"> </head>
<body>
    <header th:replace="components/fragments :: header('Product')"> </header>
    <div class="main">
        <div class="banner relative">
            <div class="banner-background w-full">
                <img src="/images/product-banner.png" class="w-full" />
            </div>
            <div class="banner-overlay"></div>
        </div>
        <div class="page-title">
            <div class="gradient-border-wrapper title-wrapper">
                <div class="background">
                    <div class="title">
                        <div class="w-full text-center parrent-page">Adaptive platform</div>
                        <h1 class="text-xl text-center font-bold">Basic Software (BSW)</h1>
                    </div>
                </div>
                <div class="background-ovelay"></div>
            </div>
        </div>

        <div class="product-details">
            <div class="introduction pb-4">
                <h2 class="font-bold text-title pb-4">Basic Software</h2>
                <div class="content mb-10 text-item">
                    <p>
                        MaaZ Basic Software (BSW) is the software base for E/E architecture, built on high-performance controllers and based on Adaptive AUTOSAR Software Platform
                    </p>
                </div>
                <div class="image mb-10">
                    <img src="/images/products/adaptive-platform-bsw-introduction.png" alt="classic platform bsw">
                </div>
                
            </div>
        </div>

        <div class="section section-adaptive-bsw-architecture text-center pb-20">
            <h2 class="text-lg gradient-text font-bold my-10">
                MaaZ Architecture
            </h2>
            <div class="items-center mt-4 grid-500-1fr">
                <div class="image-left mr-10">
                    <img src="/images/products/adaptive-platform-bsw-architecture.png" alt="Adaptive Platform BSW Architecture">
                </div>
                <div class="content right-side">
                    <ul class="text-left">
                        <li class="flex items-start mb-1">
                            <div class="slash-bullet"></div>
                            <div class="flex-1 text-item">
                                Provide run-time environment, SW update capability, and embedded security.
                            </div>
                        </li>
                        <li class="flex items-start mb-1">
                            <div class="slash-bullet"></div>
                            <div class="flex-1 text-item">
                                Compliant to AUTOSAR Adaptive Platform (19-11, 20-11).
                            </div>
                        </li>
                        <li class="flex items-start mb-1">
                            <div class="slash-bullet"></div>
                            <div class="flex-1 text-item">
                                Support various OS (POSIX OS/Ubuntu/Other RTOS).
                            </div>
                        </li>
                        <li class="flex items-start mb-1">
                            <div class="slash-bullet"></div>
                            <div class="flex-1 text-item">
                                Support various SoCs.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div th:replace="components/fragments :: contact-us"> </div>   
    </div>
    <div class="horizontal-line"/>
    <div th:replace="components/fragments :: footer"> </div>   
    <div class="horizontal-line"/>
</body>