<div class="section section-contact-us">
    <div class="svg-background-wrapper">
        <div class="svg-background">
        </div>
    </div>

    <div class="content items-center grid grid-cols-2">
        <div class="contact-us">
            <div class="description font-bold mb-2 w-full text-center text-cu">
                Get started on your effortless<br>AUTOSAR journey!
            </div>
            
            <div class="w-full text-center">
                <a href="/contact-us" class="button border-button inline-block button-contact-us">
                    <div class="button-hover-background">
                        <div class="ellipse1"></div>
                        <div class="ellipse2"></div>
                        <div class="ellipse3"></div>
                    </div>
                    <div class="button-text">
                        Contact Us
                    </div> 
                </a>
            </div>
            
        </div>
        <div class="image">
            <img src="/images/contact-us-image.png" alt="contact-us">
        </div>
    </div>

    <div class="contact-us-modal modal">
        <div class="overlay"></div>
        <div class="gradient-border-wrapper content">
            <button class="circle-button close-button">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <div class="content-details">
                <div class="left-side overflow-hidden h-full">
                    <div class="project-name mb-2">MaaZ</div>
                    <div class="form-title text-xl font-bold">
                        Contact Us
                    </div>
                    <form action="" class="contact-us-form">
                        <div class="grid grid-cols-2 h-full overflow-hidden flex-1 input-group-image">
                            <div class="input-group overflow-auto custom-srollbar h-full pr-1">
                                <div class="form-field">
                                    <input type="text" name="fullname" placeholder=" " aria-placeholder=" " id="fullname">
                                    <label for="fullname">Full Name</label>
                                </div>
                                <div class="form-field">
                                    <input type="email" name="email" placeholder=" " aria-placeholder=" " id="email">
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-field">
                                    <input type="text" name="location" placeholder=" " aria-placeholder=" " id="location">
                                    <label for="location">Your Location</label>
                                </div>
                                <div class="form-field">
                                    <input type="text" name="role" placeholder=" " aria-placeholder=" " id="role">
                                    <label for="role">Your Role</label>
                                </div>
                                <div class="form-field">
                                    <input type="text" name="company" placeholder=" " aria-placeholder=" " id="company">
                                    <label for="company">Company Name</label>
                                </div>
                                <div class="form-field">
                                    <textarea name="bussiness" placeholder=" " aria-placeholder=" " id="bussiness"></textarea>
                                    <label for="bussiness">Bussiness Needs</label>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/contact-us-image.png" alt="contact-us">
                            </div>
                        </div>
                        <button class="button mt-4">
                            <div class="button-text">
                                Ask our experts
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>