<div th:fragment="headDeclaration(page, pageTitle)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" th:href="|/css/pages/${page}.css|">
        <script src="/js/stylesetup.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script type="module" src="/js/main.js"></script>
        <title th:text="${pageTitle}">Home</title>
    </head>
</div>
<header th:fragment="header(currentPage)">
    <div class="header-container">
        <div class="logo">
            <img src="/images/logo-white-horizontal.png" alt="logo">
        </div>
        <div class="navigation">
            <ul class="flex flex-row">
                <li class="select" th:classappend="${currentPage == 'Home' ? 'selected' : ''}">
                    <a href="/home" class="menu-item flex">
                        <span class="flex-1">Home</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select" th:classappend="${currentPage == 'Product' ? 'selected' : ''}">
                    <div class="submenu-container">
                        <div class="padding"></div>
                        <ul class="select-submenu level-2">
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/products#classic-platform">Classic Platform</a>
                            </li>
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/products#adaptive-platform">Adaptive Platform</a>
                            </li>
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/products#flashbooloader">Flash Bootloader</a>
                            </li>
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/products#test-automation">Test Automation</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/products" class="menu-item flex">
                        <span class="flex-1">Products</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select" th:classappend="${currentPage == 'Services' ? 'selected' : ''}">
                    <a href="/services.html" class="menu-item flex">
                        <span class="flex-1">Services</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select" th:classappend="${currentPage == 'Resources' ? 'selected' : '' }">
                    <div class="submenu-container">
                        <div class="padding"></div>
                        <ul class="select-submenu level-2">
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/resources/whitepaper">Whitepaper</a>
                            </li>
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/resources/success-stories">Success Stories</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/resources" class="menu-item flex">
                        <span class="flex-1">Resources</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select align-right" th:classappend="${currentPage == 'Company' ? 'selected' : ''}">
                    <div class="submenu-container">
                        <div class="padding"></div>
                        <div class="select-submenu level-2">
                            <a class="submenu-item" href="/company/about-us">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span>About Us</span>
                            </a>
                            <a class="submenu-item" href="/company/news">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span>News</span>
                            </a>
                            <a class="submenu-item" href="/contact-us">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span href="/contact-us">Contact Us</span>
                            </a>
                        </div>
                    </div>
                    <a href="/company" class="menu-item flex">
                        <span class="flex-1">Company</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div th:fragment="footer">
    <footer class="section pb-4">
        <div class="footer grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
            <div class="infomation col-span-2 ">
                <div class="logo"><img src="/images/logo.png" alt="logo"></div>
                <div class="font-bold">
                    MaaZ - MonoZukuri Adaptive AUTOSAR
                </div>
                <div class="address-part">
                    <div class="font-bold">Head Quarter:</div>
                    <div class="address whitespace-normal">FPT Tower, Pham Van Bach street, Cau Giay district, Hanoi, Vietnam</div>
                </div>
                <div class="tel-part">
                    <span class="font-bold">Tel:</span>
                    <a class="tel whitespace-normal ml-1" href="tel:+84 XXXXXXXX">+84 XXXXXXXX</a>
                </div>
                <div class="email-part">
                    <span class="font-bold">Tel:</span>
                    <a class="email whitespace-normal ml-1" href="mailto:fsoft@fpt.com.vn">fsoft@fpt.com.vn</a>
                </div>
                <div class="copyright mt-2">
                    2022 (c) MaaZ - FPT Software. All Rights Reserved. 
                </div>
            </div>

            <div class="products-list">
                <div class="font-bold">Products</div>
                <ul>
                    <li>
                        <a href="#">MaaZ Classic Platform</a>
                    </li>
                    <li>
                        <a href="#">MaaZ Adaptive Platform</a>
                    </li>
                    <li>
                        <a href="#">Flash bootloader</a>
                    </li>
                    <li>
                        <a href="#">Test Automation</a>
                    </li>
                </ul>
            </div>
            <div class="services-list">
                <div class="font-bold">Products</div>
                <ul>
                    <li><a href="#">AUTOSAR CLASSIC</a></li>
                    <li><a href="#">AUTOSAR ADAPTIVE</a></li>
                    <li><a href="#">Integrated Cockpit</a></li>
                    <li><a href="#">ADAS & AD</a></li>
                    <li><a href="#">Connected Car </a></li>
                    <li><a href="#">EV </a></li>
                    <li><a href="#">Car Amplifier</a></li>
                    <li><a href="#">Powertrain</a></li>
                    <li><a href="#">Body Electronics</a></li>
                    <li><a href="#">FuSa</a></li>
                    <li><a href="#">SECURITY</a></li>
                    <li><a href="#">ASPICE Fulfillment</a></li>
                </ul>
            </div>
            <div class="resource-list md:col-start-3 lg:col-start-5">
                <div class="font-bold">Resources</div>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="resources/whitepaper">Whitepaper</a></li>
                    <li><a href="#">Case Study</a></li>
                </ul>   
            </div>
            <div class="company md:col-start-4 lg:col-start-6">
                <div class="font-bold">Company</div>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>   
            </div>
        </div>
    </footer>
</div>

<div th:fragment="contact-us">
    <div class="section section-contact-us">
        <div class="svg-background-wrapper">
            <div class="svg-background">
            </div>
        </div>
    
        <div class="content items-center grid grid-cols-2">
            <div class="contact-us">
                <div class="description font-bold mb-2 w-full text-center text-cu">
                    Get started on your effortless<br>AUTOSAR journey!
                </div>
                
                <div class="w-full text-center">
                    <a href="/company/contact-us" class="button border-button inline-block button-contact-us">
                        <div class="button-hover-background">
                            <div class="ellipse1"></div>
                            <div class="ellipse2"></div>
                            <div class="ellipse3"></div>
                        </div>
                        <div class="button-text">
                            Contact Us
                        </div> 
                    </a>
                </div>
                
            </div>
            <div class="image">
                <img src="/images/contact-us-image.png" alt="contact-us">
            </div>
        </div>
    
        <div class="contact-us-modal modal">
            <div class="overlay"></div>
            <div class="gradient-border-wrapper content">
                <button class="circle-button close-button">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
                <div class="content-details">
                    <div class="left-side overflow-hidden h-full">
                        <div class="project-name mb-2">MaaZ</div>
                        <div class="form-title text-xl font-bold">
                            Contact Us
                        </div>
                        <form action="" class="contact-us-form">
                            <div class="grid grid-cols-2 h-full overflow-hidden flex-1 input-group-image">
                                <div class="input-group overflow-auto custom-srollbar h-full pr-1">
                                    <div class="form-field">
                                        <input type="text" name="fullname" placeholder=" " aria-placeholder=" " id="fullname">
                                        <label for="fullname">Full Name</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="email" name="email" placeholder=" " aria-placeholder=" " id="email">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="location" placeholder=" " aria-placeholder=" " id="location">
                                        <label for="location">Your Location</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="role" placeholder=" " aria-placeholder=" " id="role">
                                        <label for="role">Your Role</label>
                                    </div>
                                    <div class="form-field">
                                        <input type="text" name="company" placeholder=" " aria-placeholder=" " id="company">
                                        <label for="company">Company Name</label>
                                    </div>
                                    <div class="form-field">
                                        <textarea name="bussiness" placeholder=" " aria-placeholder=" " id="bussiness"></textarea>
                                        <label for="bussiness">Bussiness Needs</label>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="/images/contact-us-image.png" alt="contact-us">
                                </div>
                            </div>
                            <button class="button mt-4">
                                <div class="button-text">
                                    Ask our experts
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>