<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/logo-white-horizontal.png" alt="logo">
        </div>
        <div class="navigation">
            <ul class="flex flex-row">
                <li class="select selected">
                    <a href="/home" class="menu-item flex">
                        <span class="flex-1">Home</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select">
                    <a href="/products" class="menu-item flex">
                        <span class="flex-1">Products</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select ">
                    <a href="/services" class="menu-item flex">
                        <span class="flex-1">Services</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select ">
                    <div class="submenu-container">
                        <div class="padding"></div>
                        <ul class="select-submenu level-2">
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/resources/whitepaper">Whitepaper</a>
                            </li>
                            <li class="submenu-item">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <a href="/resources/success-stories">Success Stories</a>
                            </li>
                        </ul>
                    </div>
                    <a href="/resources" class="menu-item flex">
                        <span class="flex-1">Resources</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
                <li class="select align-right">
                    <div class="submenu-container">
                        <div class="padding"></div>
                        <div class="select-submenu level-2">
                            <a class="submenu-item" href="/company/about-us">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span>About Us</span>
                            </a>
                            <a class="submenu-item" href="/company/news">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span>News</span>
                            </a>
                            <a class="submenu-item" href="company/contact-us">
                                <div class="arrow">
                                    <img src="/images/arrow-forward.png" alt="arrow-forward">
                                </div>
                                <span>Contact Us</span>
                            </a>
                        </div>
                    </div>
                    <a href="/company" class="menu-item flex">
                        <span class="flex-1">Company</span>
                        <span class="arrow-down">
                            <img width="16" height="16" src="/images/arrow-down.png">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>