
<div class="banner relative">
    <div class="banner-background w-full">
        <img src="/images/whitepaper-banner.png" class="w-full" />
    </div>
    <div class="banner-overlay"></div>
</div>
<div class="section section-title">
    <div class="gradient-border-wrapper title-wrapper">
        <div class="background">
            <div class="title">
                <div class="w-full text-center parrent-page">Resource</div>
                <h1 class="text-xl text-center font-bold">Whitepaper</h1>
            </div>
        </div>
        <div class="background-ovelay"></div>
    </div>
</div>
