<div class="pagination">
    <a href="#" class="page-item prev disabled">
        <span class="icon material-symbols-outlined">
            &#xeac3;
        </span>
    </a>
    <a href="#" class="page-item active">
        <span class="page-link">1</span>
    </a>
    <a href="#" class="page-item">
        <span class="page-link">2</span>
    </a>
    <a href="#" class="page-item">
        <span class="page-link">3</span>
    </a>
    <a href="#" class="page-item">
        <span class="page-link">4</span>
    </a>
    <a href="#" class="page-item">
        <span class="page-link">5</span>
    </a>
    <a href="#" class="page-item next">
        <span class="icon material-symbols-outlined">
            &#xeac9;
        </span>
    </a>
</div>