@import url(./component/variables.css);
@import url(./component/_select.css);
@import url(./component/logo.css);
@import url(./component/button.css);
@import url(./component/article.css);
@import url(./component/header.css);

* {
    padding: 0;
    margin: 0;
    clear: both;
}

body {
    background: var(--bg);
    box-sizing: border-box;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}

.image-holder {
    background-color: var(--color1);
    color: var(--color5);
    text-align: center;
    vertical-align: middle;
    height: 100%;
    line-height: 100px;
}


.gradient-border-wrapper {
    border-radius: 2rem 2rem 0px 0px;
    background: linear-gradient(184deg, rgba(210, 210, 210, 0.6) 0%, rgba(116, 116, 116, 0) 60.68%);
    padding: 1px;
}

.gradient-border-wrapper > *{
    border-radius: 2rem 2rem 0px 0px;
}

.gradient-border-wrapper > .background {
    background: #040A10;
}
.swiper .swiper-slide {
    height: auto;
}


.horizontal-line {
    height: 4px; 
    background: #333333;
    display: block;
}

footer {
    padding: 2.25rem var(--section-padding) 3.75rem var(--section-padding);
}

.title {
    font-size: 3.75rem;
    line-height: 4rem;
}

.custom-srollbar:hover::-webkit-scrollbar {
    opacity: 1;
    width: 10px;
}
.custom-srollbar::-webkit-scrollbar {
    width: 0px;
    transition: 0.5s ease-in;   
}
.custom-srollbar::-webkit-scrollbar-track {
    background: var(--color5);
    border-radius: 5px;
}
  
  /* Handle */
.custom-srollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(var(--color9), var(--bg), var(--color9));
    border-radius: 5px;
}

/* Handle on hover */
.custom-srollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bg);
}

.grid-1fr-500 {
    display: grid;
    grid-template-columns: 1fr 500px;
}

.grid-500-1fr {
    display: grid;
    grid-template-columns: 500px 1fr;
}


@media screen and (min-width: var(576px)) {
    :root {
        --section-padding: 1rem;
        --svg-padding: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --section-padding: 2rem;
        --svg-padding: 2.3rem;
    }
}
@media screen and (min-width: 992px) {
    :root {
        --section-padding: 5rem;
        --svg-padding: 7.625rem
    }
}
@media screen and (min-width: 1400px) {
    :root {
        --section-padding: 7.5rem;
        --svg-padding: 12.375rem
    }
}
