<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/stylesetup.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="back-ground flex flex-row justify-between py-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
            <div class="navigation">
                <ul class="flex flex-row">
                    <li class="mr-3">Product</li>
                    <li class="mr-3">Service</li>
                    <li class="mr-3">Resource</li>
                    <li class="mr-3">Company</li>
                </ul>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="h-60 banner bg-gradient-to-r from-zinc-300 to-zinc-800 relative section">
            <div class="banner-text absolute top-1/2">
                <h1 class="name text-red-500 font-bold text-lg">
                    MaaZ - MonoZukuri Adaptive AUTOSAR
                </h1>
                <div class="subtitle text-lg">
                    Delivering AUTOSAR and beyond!
                </div>
                <button class="rounded bg-color2 text-color5 hover:bg-color1 px-6 py-2">
                    Contact Us
                </button>
            </div>
        </div>
        <br>
        <div class="article section">
            <div class="article-image">
                <iframe src="https://www.youtube.com/embed/cEqEfFROKm4" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="article-text align-left">
                <div class="article-title">
                    <h2 class="text-red-500 font-bold text-lg">
                        INTRODUCING MaaZ
                    </h2>
                    <div class="subtitle text-lg">
                        Your comprehensive AUTOSAR solutions
                    </div>
                </div>
                <div class="article-description">
                    AUTOSAR (AUTomotive Open System ARchitecture) is a worldwide development standard of leading
                    automotive manufacturers, suppliers, service providers and companies, founded since 2003.
                    <br>
                    Powered by FPT Software - the global leading technology and IT service provider, MaaZ is a
                    comprehensive solution stacks for AUTOSAR, which converges production-ready platforms, seamlessly
                    integrated tool chains and services around AUTOSAR.
                </div>
            </div>
        </div>
        <br>
        <div class="sets-us-apart section">
            <h1 class="title text-red-500 text-center w-full text-lg font-bold">
                What sets us apart
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-1 md:gap-4 lg:gap-16 mr-2">
                <div class="description w-full card rounded-3xl bg-neutral-400 p-8">
                    <h2 class="font-bold text-center">Proven Experience</h2>
                    <ul>
                        <li>
                            12+ years of experience in Platform (MCAL, BSW, SWC, Microcontrollers), Tools, Safety, R&D,
                            etc. which comply with ISO26262 A-SIL A/B/C/D and A-SPICE Level 3
                        </li>
                        <li>
                            End-to-End Turnkey Solutions with ready-made platforms, tools, and services accelerating the
                            AUTOSAR transformation.
                        </li>
                        <li>
                            CI/CD/DevOps as the defacto standard
                        </li>
                        <li>
                            500+ AUTOSAR experts.
                        </li>
                    </ul>
                </div>
                <div class="description w-full card rounded-3xl bg-neutral-400 p-8">
                    <h2 class="font-bold text-center">High Efficiency
                    </h2>
                    <ul>
                        <li>
                            Efficiency = Time-to-market x Cost x Quality
                        </li>
                        <li>Efficiency = Time-to-market x Cost x Quality
                            Big pool of software engineers = Parallel developments = short duration. </li>
                        <li>
                            Optimal cost competitiveness = utilizing 20% of total resources in onshore + 80% of total
                            resources in Vietnam and other offshore bases
                        </li>
                        <li>
                            Secure and high-quality software services by taking advantage of our experience with the
                            world's top chipmakers, tier-1 automotive suppliers, and OEMs
                        </li>
                    </ul>
                </div>
                <div class="description card w-full rounded-3xl bg-neutral-400 p-8">
                    <h2 class="font-bold text-center">Flexibility</h2>
                    <ul>
                        <li>
                            Adaptive to customers' frequent changes in requirements
                        </li>
                        <li>
                            Flexible working model: On-site, Offshore & Mix - Scale up at any time and anywhere</li>
                        <li>
                            Flexible business models: onshore/offshore hybrid or even BOT (Build-Operate- Transfer).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="testimonials section">
            <h1 class="title text-red-500 text-center w-full text-lg font-bold">
                What sets us apart
            </h1>

            <div class="swiper thumb-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/partner1.png" alt="partner 1" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/partner2.png" alt="partner 2" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/partner3.png" alt="partner 3" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/partner4.png" alt="partner 4" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/partner5.png" alt="partner 5" />
                    </div>
                </div>
            </div>

            <h1 class="title text-red-500 text-center w-full text-lg font-bold">
                What our customers say
            </h1>
            <div class="swiper main-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial rounded-xl">
                            <img src="assets/images/partner1.png" />
                            <div class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit? Error, similique.
                                Deleniti, libero! Atque quos, eveniet explicabo iure sint nostrum. Non commodi optio
                                eligendi laborum magni sequi quas odio.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial rounded-xl">
                            <img src="assets/images/partner2.png" />
                            <div class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit? Error, similique.
                                Deleniti, libero! Atque quos, eveniet explicabo iure sint nostrum. Non commodi optio
                                eligendi laborum magni sequi quas odio.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial rounded-xl">
                            <img src="assets/images/partner3.png" />
                            <div class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit? Error, similique.
                                Deleniti, libero! Atque quos, eveniet explicabo iure sint nostrum. Non commodi optio
                                eligendi laborum magni sequi quas odio.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial rounded-xl">
                            <img src="assets/images/partner4.png" />
                            <div class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit? Error, similique.
                                Deleniti, libero! Atque quos, eveniet explicabo iure sint nostrum. Non commodi optio
                                eligendi laborum magni sequi quas odio.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial rounded-xl">
                            <img src="assets/images/partner5.png" />
                            <div class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, velit? Error, similique.
                                Deleniti, libero! Atque quos, eveniet explicabo iure sint nostrum. Non commodi optio
                                eligendi laborum magni sequi quas odio.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navigation absolute top-4 right-4 z-10 flex ">
                    <div class="main-swiper-prev text-lg"></div>
                    <div class="swiper-status items-center mx-1">1/5</div>
                    <div class="main-swiper-next text-lg"></div>
                </div>
            </div>
            <div class="text-red-500 text-center w-full font-bold underline underline-offset-4"><a
                    href="/sucess-stories">Explore more</a> </div>
        </div>
        <br>
        <div class="section products">
            <h1 class="title text-red-500 w-full text-lg font-bold">
                Dynamic Products for you
            </h1>
            <div class="description">
                MaaZ is the expert in AUTOSAR with more than 14+ years of global experience. Our specialization covers
                both the Classic and Adaptive AUTOSAR standards.
            </div>
            <div class="products">
                <div class="article bg-color3 py-4 px-12">
                    <div class="article-image">
                        <div class="image-holder">
                            Image
                        </div>
                    </div>
                    <div class="article-text align-left">
                        <div class="article-title">
                            <h2 class="text-red-500 font-bold text-lg">
                                MaaZ Classic Platform
                            </h2>
                        </div>
                        <div class="article-description">
                            Enhance your electronic control unit (ECU) performance with our secure and tailor-made products for
                            the Classic AUTOSAR.
                        </div>
                        <div class="text-left w-full font-bold underline underline-offset-4"><a href="/sucess-stories">Explore
                                more</a> </div>
                    </div>
                </div>
                <div class="article bg-color5 py-4 img-left px-12">
                    
                    <div class="article-image">
                        <div class="image-holder">
                            Image
                        </div>
                    </div>
                    <div class="article-text align-left">
                        <div class="article-title">
                            <h2 class="text-red-500 font-bold text-lg">
                                MaaZ Adaptive Platform
                            </h2>
                        </div>
                        <div class="article-description text-right">
                            Offering flexible and production-proven development tools, basic software and studio platform, MaaZ
                            helps you develop your high-performance controller (HPC), supporting a wide ranges of operating
                            system
                        </div>
                        <div class="text-right w-full font-bold underline underline-offset-4"><a href="/sucess-stories">Explore
                                more</a> </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="section service">
            <h1 class="title text-red-500 w-full text-lg font-bold">
                Our Services Areas
            </h1>
            <div class="description">
                Explore our all-purpose AUTOSAR solutions - highly efficient, saving and tailor-made for you.
            </div>
            <div class="swiper service-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-list grid grid-cols-3 grid-rows-2 gap-4">
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        AUTOSAR Classic
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        AUTOSAR Adaptive
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        Integrated Cockpit
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        ADAS & AD
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        AUTOSAR Classic
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        EV
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-list grid grid-cols-3 grid-rows-2">
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        Car Amplifier
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        Powertrain
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        Body Electronics
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        FuSa
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        SECURITY
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service-icon">
                                    <div class="article-image">
                                        <div class="image-holder">
                                            Image
                                        </div>
                                    </div>
                                </div>
                                <div class="service-title">
                                    <h1 class="text-red-500 font-bold text-lg">
                                        ASPICE Fulfillment
                                    </h1>
                                </div>
                                <div class="service-link">
                                    <a href="/sucess-stories">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <br>
        <div class="recognitions section">
            <h1 class="title text-red-500 w-full text-lg font-bold">
                Recognitions
            </h1>
            <div class="swiper recognitions-swiper">
                <div class="swiper-wrapper items-center">
                    <div class="swiper-slide">
                        <img class="m-auto" src="assets/images/recognition1.png" alt="recognition 1" />
                    </div>
                    <div class="swiper-slide">
                        <img class="m-auto" src="assets/images/recognition2.png" alt="recognition 2" />
                    </div>
                    <div class="swiper-slide">
                        <img class="m-auto" src="assets/images/recognition3.png" alt="recognition 3" />
                    </div>
                    <div class="swiper-slide">
                        <img class="m-auto" src="assets/images/recognition4.png" alt="recognition 4" />
                    </div>
                </div>
            </div>
        </div>

        <div class="section insights news">
            <div class="title flex">
                <h1 class=" text-red-500 w-full text-lg font-bold flex-1">
                    Insights & View
                </h1>
                <a href="#" class="view-all underline underline-offset-4">View all</a>
            </div>
            <div class="subtitle">
                Get updated with our expert insights and industry trending news!
            </div>

            <div class="grid grid-cols-3 gap-4">
                <div class="blog-preview bg-color5 rounded-md">
                    <div class="blog-image">
                        <div class="image-holder">
                            Image
                        </div>
                    </div>
                    <div class="blog-content px-4 py-3">
                        <div class="blog-type text-sm">
                            Blog
                        </div>
                        <div class="font-bold blog-description">
                            Effective solutions to the process authorization problem at FWD
                        </div>
                    </div>
                </div>

                <div class="blog-preview bg-color5 rounded-md">
                    <div class="blog-image">
                        <div class="image-holder">
                            Image
                        </div>
                    </div>
                    <div class="blog-content px-4 py-3">
                        <div class="blog-type text-sm">
                            Blog
                        </div>
                        <div class="font-bold blog-description">
                            Effective solutions to the process authorization problem at FWD
                        </div>
                    </div>
                </div>

                <div class="blog-preview bg-color5 rounded-md">
                    <div class="blog-image">
                        <div class="image-holder">
                            Image
                        </div>
                    </div>
                    <div class="blog-content px-4 py-3">
                        <div class="blog-type text-sm">
                            Blog
                        </div>
                        <div class="font-bold blog-description">
                            Effective solutions to the process authorization problem at FWD
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section contact-us flex bg-color3 items-center">
            <div class="title flex-1">
                <div class="description text-red-500 font-bold mb-2">
                    Get started on your effortless AUTOSAR journey!
                </div>
                <button class="rounded bg-color2 text-color5 hover:bg-color1 px-6 py-2">
                    Contact Us
                </button>
            </div>
            <div class="image-holder basis-1/4">
                Image
            </div>
        </div>
    </div>

    <footer class="section pb-4">
        <div class="footer grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
            <div class="infomation col-span-2 ">
                <div class="logo"><img src="assets/images/logo.png" alt="logo"></div>
                <div class="font-bold">
                    MaaZ - MonoZukuri Adaptive AUTOSAR
                </div>
                <div class="address-part">
                    <div class="font-bold">Head Quarter:</div>
                    <div class="address whitespace-normal">FPT Tower, Pham Van Bach street, Cau Giay district, Hanoi, Vietnam</div>
                </div>
                <div class="tel-part">
                    <span class="font-bold">Tel:</span>
                    <a class="tel whitespace-normal ml-1" href="tel:+84 XXXXXXXX">+84 XXXXXXXX</a>
                </div>
                <div class="email-part">
                    <span class="font-bold">Tel:</span>
                    <a class="email whitespace-normal ml-1" href="mailto:fsoft@fpt.com.vn">fsoft@fpt.com.vn</a>
                </div>
                <div class="copyright mt-2">
                    2022 (c) MaaZ - FPT Software. All Rights Reserved. 
                </div>
            </div>

            <div class="products-list">
                <div class="font-bold">Products</div>
                <ul>
                    <li>
                        <a href="#">MaaZ Classic Platform</a>
                    </li>
                    <li>
                        <a href="#">MaaZ Adaptive Platform</a>
                    </li>
                    <li>
                        <a href="#">Flash bootloader</a>
                    </li>
                    <li>
                        <a href="#">Test Automation</a>
                    </li>
                </ul>
            </div>
            <div class="services-list">
                <div class="font-bold">Products</div>
                <ul>
                    <li><a href="#">AUTOSAR CLASSIC</a></li>
                    <li><a href="#">AUTOSAR ADAPTIVE</a></li>
                    <li><a href="#">Integrated Cockpit</a></li>
                    <li><a href="#">ADAS & AD</a></li>
                    <li><a href="#">Connected Car </a></li>
                    <li><a href="#">EV </a></li>
                    <li><a href="#">Car Amplifier</a></li>
                    <li><a href="#">Powertrain</a></li>
                    <li><a href="#">Body Electronics</a></li>
                    <li><a href="#">FuSa</a></li>
                    <li><a href="#">SECURITY</a></li>
                    <li><a href="#">ASPICE Fulfillment</a></li>
                </ul>
            </div>

            <div class="resource-list md:col-start-3 lg:col-start-5">
                <div class="font-bold">Resources</div>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Whitepaper</a></li>
                    <li><a href="#">Case Study</a></li>
                </ul>   
            </div>
            <div class="company md:col-start-4 lg:col-start-6">
                <div class="font-bold">Company</div>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>   
            </div>
        </div>
    </footer>

</body>

</html>
