<!DOCTYPE html>
<html lang="en">
    <head th:include="components/fragments :: headDeclaration('our-stories', 'About Us')"> </head>
<body>
    <header th:replace="components/fragments :: header('Company')"> </header>
    <div class="main">
        <div class="banner relative">
            <div class="banner-background w-full">
                <img src="/images/whitepaper-banner.png" class="w-full" />
            </div>
            <div class="banner-overlay"></div>
        </div>
        <div class="page-title">
            <div class="gradient-border-wrapper title-wrapper">
                <div class="background">
                    <div class="title">
                        <div class="w-full text-center parrent-page">Company</div>
                        <h1 class="text-xl text-center font-bold">Our Story</h1>
                    </div>
                </div>
                <div class="background-ovelay"></div>
            </div>
        </div>
        <div class="section section-introduction">
            <div class="svg-background-wrapper">
                <div class="svg-background">
                    
                </div>
            </div>
            <div class="introduction">
                <h1 class="text-center w-full text-title font-bold">
                    MaaZ - Empowered by FPT Software
                </h1> 
                <div class="details">
                    <p class="text-center">
                        Over the past 14 years, FPT Software has engaged in the Automotive industry and recognized an emerging need in the AUTOSAR application. Companies in the industry face the issues of balancing the cost and quality while applying the complex AUTOSAR.
                    </p>
                    <br>
                    <p class="text-center">
                        From our deep experience, our R&D and technical team have developed MaaZ - The comprehensive AUTOSAR stacks, originated from Japanese technology.
                    </p>
                </div>
            </div>
        </div>

        <div class="section section-project">
            <div class="project-name text-title font-bold">
                MaaZ - Monozukuri Adaptive AUTOSAR
                <div class="get-width">
                    <span class="text-title font-bold">MaaZ - Monozukuri</span>
                    <span class="text-title font-bold">Adaptive AUTOSAR</span>
                </div>
            </div>
            <div class="project-description">
                “Monozukuri”: a sincere attitude towards production with pride, skill and dedication. MaaZ promises to bring the most high-effective, flexible and secure AUTOSAR stacks to our valuable clients.
            </div>
        </div>

        <div class="section section-powerhouse text-center">
            <div class="powerhouse-title text-title font-bold ">
                FPT Software - The Software Powerhouse
            </div>
            <div class="hightlight-line">
                
            </div>
            <div class="powerhouse-description text-center">
                As a pioneer in digital transformation, FPT delivers world-class services in technology and has helped multiple companies transforming their business.
            </div>

        </div>

        <div class="company-history">
            <div class="background"></div>
            <div class="established-customer">
                <div class="established">
                    <div class="year hightlight-underline text-title font-bold">
                        1999
                    </div>
                    <div class="description">
                        Established year
                    </div>
                </div>
                <div class="customers">
                    <div class="count hightlight-underline text-title font-bold">
                        700+
                    </div>
                    <div class="description">
                        Customers worldwide,<br>100 of which are Fortune 500s
                    </div>
                </div>
            </div>
            <div class="list-items">
                <div class="flex items-center">
                    <div class="hightlight-underline text-cu font-bold mr-4">
                        700+
                    </div>
                    <div class="description flex-1">
                        Global Projects
                    </div>
                </div>
                
                <div class="flex items-center">
                    <div class="hightlight-underline text-cu font-bold px-4 mr-4">
                        14+
                    </div>
                    <div class="description flex-1 text-left">
                        Years of experience<br>in AUTOSAR
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="hightlight-underline text-cu font-bold mr-4">
                        24/7/365
                    </div>
                    <div class="description flex-1 text-left">
                        We support our<br>partners at anytime
                    </div>
                </div>
            </div>
        </div>
        <div class="section w-full text-center">

            <button class="button border-button" data-action="hover" data-target=".banner-text">
                <div class="button-hover-background">
                    <div class="ellipse1"></div>
                    <div class="ellipse2"></div>
                    <div class="ellipse3"></div>
                </div>
                <div class="button-text">
                    Explore more
                </div>
            </button>
        </div>

        <div class="section section-global-pressnece">
            <div class="md:flex">
                <div class="left-side">
                    <div class="title">
                        <h1 class="text-xl font-bold">Global <br>
                            Presence</h1>
                    </div>
                    <div class="region europe mb-8">
                        <div class="region-name text-title font-bold mb-2">America</div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch mb-2">
                            <div class="country">USA</div>
                            <div class="country-secparate"></div>
                            <div class="country">Canada</div>
                            <div class="country-secparate"></div>
                            <div class="country">Colombia</div>
                            <div class="country-secparate"></div>
                            <div class="country">Costa Rica</div>
                        </div>
                    </div>
                    <div class="region europe mb-8">
                        <div class="region-name text-title font-bold mb-2">Europe</div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch mb-2">
                            <div class="country">Germany</div>
                            <div class="country-secparate"></div>
                            <div class="country">France</div>
                            <div class="country-secparate"></div>
                            <div class="country">Slovakia</div>
                        </div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch">
                            <div class="country">Czech Republic</div>
                            <div class="country-secparate"></div>
                            <div class="country">United Kingdom</div>
                            <div class="country-secparate"></div>
                            <div class="country">Belgium</div>
                        </div>
                    </div>
                    <div class="region europe mb-8">
                        <div class="region-name text-title font-bold mb-2">Asia</div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch mb-2">
                            <div class="country">Japan</div>
                            <div class="country-secparate"></div>
                            <div class="country">South Korea</div>
                            <div class="country-secparate"></div>
                            <div class="country">China</div>
                            <div class="country-secparate"></div>
                            <div class="country">Taiwan</div>
                            <div class="country-secparate"></div>
                            <div class="country">Australia</div>
                        </div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch">
                            <div class="country">New Zealand</div>
                            <div class="country-secparate"></div>
                            <div class="country">Hong Kong</div>
                            <div class="country-secparate"></div>
                            <div class="country">India</div>
                            <div class="country-secparate"></div>
                            <div class="country">United Arab Emirates</div>
                        </div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch">
                            <div class="country">Vietnam (HO)</div>
                            <div class="country-secparate"></div>
                            <div class="country">Singapore</div>
                            <div class="country-secparate"></div>
                            <div class="country">Malaysia</div>
                            <div class="country-secparate"></div>
                            <div class="country">Indonesia (HO)</div>
                        </div>
                        <div class="flex countries justify-start flex-wrap w-full items-stretch">
                            <div class="country">Philppines</div>
                            <div class="country-secparate"></div>
                            <div class="country">Thailand</div>
                            <div class="country-secparate"></div>
                            <div class="country">Myanmar</div>
                        </div>
                    </div>
                </div>

                <div class="right-side md:flex-1">
                    <div class="map">
                        <img src="/images/map.png" alt="map">
                    </div>
                    <div class="regions-count flex justify-around">
                        <div class="text-center">
                            <div class="hightlight-underline text-lg font-bold mb-4">
                                26
                            </div>
                            <div class="description flex-1 text-center text-cu">
                                Countries & <br>Territories
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="hightlight-underline text-lg font-bold mb-4">
                                57
                            </div>
                            <div class="description flex-1 text-center text-cu">
                                Offices
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="hightlight-underline text-lg font-bold mb-4">
                                26
                            </div>
                            <div class="description flex-1 text-center text-cu">
                                Development<br>Centers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-recognitions">
            <h1 class="title text-center w-full text-lg font-bold">
                Recognitions
            </h1>
            <div class="recognitions grid grid-cols-2 md:grid-cols-4">
                <div class="recognition">
                    <div class="background">
                        <div class="background-color"></div>
                    </div>
                    <div class="text-center">
                        <img src="/images/recognition1.png" alt="iso">
                    </div>
                    <div class="recognition-name text-center text-item">
                        Recognition Name
                    </div>
                </div>
                <div class="recognition">
                    <div class="background">
                        <div class="background-color"></div>
                    </div>
                    <div class="text-center">
                        <img src="/images/recognition2.png" alt="iso">
                    </div>
                    <div class="recognition-name text-center text-item">
                        Recognition Name
                    </div>
                </div>
                <div class="recognition">
                    <div class="background">
                        <div class="background-color"></div>
                    </div>
                    <div class="text-center">
                        <img src="/images/recognition3.png" alt="iso">
                    </div>
                    <div class="recognition-name text-center text-item">
                        Recognition Name
                    </div>
                </div>
                <div class="recognition">
                    <div class="background">
                        <div class="background-color"></div>
                    </div>
                    <div class="text-center">
                        <img src="/images/recognition4.png" alt="iso">
                    </div>
                    <div class="recognition-name text-center text-item">
                        Recognition Name
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="components/fragments :: contact-us"> </div>   
    </div>
    <div class="horizontal-line"/>
    <div th:replace="components/fragments :: footer"> </div>   
    <div class="horizontal-line"/>
</body>

</html>
