<!DOCTYPE html>
<html lang="en">
    <head th:include="components/fragments :: headDeclaration('success-stories', 'Successful Stories')"> </head>
<body>
    <header th:replace="components/fragments :: header('Resources')"> </header>
    <div class="main">
        <div class="banner relative">
            <div class="banner-background w-full">
                <img src="/images/successful-storie-banner.png" class="w-full" />
            </div>
            <div class="banner-overlay"></div>
        </div>
        <div class="two-sides-layout layout-template-3-2 section-content">
            <div class="left-side section-success-stories">
                <div class="title text-lg font-bold">Whitepaper title - Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                <div class="information">
                    <span class="label font-bold">Date & Time</span>
                    <span class="value">20/02/2022</span>
                    
                    <span class="label font-bold">Author</span>
                    <span class="value">John Nguyen</span>

                    <span class="label font-bold">Abstract</span>
                    <span class="value">Lorem ipsum</span>
                </div>
                <div class="body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
                    </p>
                    <br>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                    </p>
                </div>
            </div>
            <div class="right-side">
                <div class="whitepaper-download-form-wrapper">
                    <div class="whitepaper-download-form">
                        <h2 class="text-title font-bold">Fill the form to download
                            our latest Whitepaper
                        </h2>
                        <form action="#">
                            <div class="form-field">
                                <input type="text" name="name" placeholder=" " aria-placeholder=" " id="username">
                                <label for="username">Full Name</label>
                            </div>
                            <div class="form-field">
                                <input type="email" placeholder=" " name="email" id="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-field">
                                <input type="text" name="jobtitle" placeholder=" " aria-placeholder=" " id="jobtitle">
                                <label for="jobtitle">Job Title</label>
                            </div>
                            <div class="form-field">
                                <input type="text" name="companyname" placeholder=" " aria-placeholder=" " id="companyname">
                                <label for="companyname">Company Name</label>
                            </div>
                            <button class="button" data-action="hover" data-target=".banner-text">
                                <div class="button-hover-background">
                                    <div class="ellipse1"></div>
                                    <div class="ellipse2"></div>
                                    <div class="ellipse3"></div>
                                </div>
                                <div class="button-text flex items-center gap-2">
                                    <i class="icon material-symbols-outlined text-black">&#xe2c0;</i> Download
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
                
           </div>
        </div>

        <div th:replace="components/fragments :: contact-us"> </div>   
    </div>
    <div class="horizontal-line"/>
    <div th:replace="components/fragments :: footer"> </div> 
    <div class="horizontal-line"/>
</body>

</html>
