<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Cockpit
    </h2>
    <div class="my-4 features-list">
        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">01</span>
                    <span class="flex-1 font-bold">Autonomous Level 2.5</span> 
                </h3>
                <div class="feature-description">
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">Lane Assistance, Traffic Sign Recognition, Collision Mitigation, Intelligent Speed Adaption
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                3D Object Recognition, Auto Parking, Voice Recognition
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">HD Map, Data Labeling</div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">Cloud platform / Fleet Management</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>
        
        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">02</span>
                    <span class="flex-1 font-bold">Driver Monitoring System</span> 
                </h3>
                <div class="feature-description">
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Driver Profile
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Face Activity
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Drowsiness Detection
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Cloud platform / Fleet Management
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Distraction Detection
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Dangerous behavior
                            </div>
                        </li>
                        
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Child & Pet Presence
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>

        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">03</span>
                    <span class="flex-1 font-bold">Surround View Monitoring</span> 
                </h3>
                <div class="feature-description">
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Static parking guidelines
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Dynamic parking guidelines
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Obstacle warning
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Crossing traffic detection
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>

        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">04</span>
                    <span class="flex-1 font-bold">R&D</span> 
                </h3>
                <div class="feature-description">
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Outstanding scientists with decades of research & applied experience in deep learning, computer vision & audio signal processing.
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Tackle industry's pain points: edge case performance & AI deployment on low cost hardware platform. 
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Top 6 NIST Face- Biometrics algorithm(2020).
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                7 papers accepted to CVPR 2021. 
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Two designs win, with local Vietnamese OEM.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>

        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">05</span>
                    <span class="flex-1 font-bold">Large scale data</span> 
                </h3>
                <div class="feature-description">
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Leverage our large scale data collection & processing services across the global.
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Dedicated data team with strong domain knowledge in automotive.
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Drowsiness Detection
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Cloud platform / Fleet Management
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Distraction Detection
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Dangerous behavior
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                Child & Pet Presence
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>

        <div class="adas-feature">
            <div class="image-container">
                <img src="/images/services/autonomous-level-2.5.png" alt="autonomous level 2.5">
            </div>
            <div class="content">
                <h3 class="text-cu flex mb-1">
                    <span class="index mr-2">06</span>
                    <span class="flex-1 font-bold">Computing Infrastructure</span> 
                </h3>
                <div class="feature-description">
                    <div class="mb-4">
                        Accelerate innovation with most powerful GPU computing stack:
                    </div>
                    <ul>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                5 Nvidia DGX-A100 in use 
                            </div>
                        </li>
                        <li class="custom mb-4">
                            <div class="slash-bullet"></div>
                            <div class="content">
                                More GPU resource dedicated for automotive products
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separater"></div>
    </div>
</div>