<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Aspice Fulfillment
    </h2>
    <div class="accordion-group py-4">
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">1</span>
                <span class="name">Process</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    <ol class="list-decimal">
                        <li>Gap Analyses</li>
                        <li>Process establishment support.</li>
                        <li>Training & deploy the process.</li>
                        <li>Support to successfully achieve a target maturity level.</li>
                        <li>Conduct appraisals with experienced authorized assessors.</li>
                        <li>Implement comprehensive improvement programs.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">2</span>
                <span class="name">Engineering</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident iure eum dolorum. Doloremque necessitatibus mollitia cum ullam, iusto maiores! Architecto itaque laboriosam perferendis sint nam animi nostrum similique iusto quisquam?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">3</span>
                <span class="name">Consulting, Training and Coaching</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
    </div>
</div>