<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Car Amplifer
    </h2>
    <img src="/images/services/car-amplifier-introduction.png" alt="Car Amplifer introduction" 
        class="mb-4">
    <div class="introduction py-4">
        Developing Car Amplifier needs the right skills to build and maintain it. We deliver the expert quality you need to enhance any Car Amplifier project:
    </div>

    <div class="accordion-group py-4">
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">1</span>
                <span class="name">Amplifer Features</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">2</span>
                <span class="name">Audio Features</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    <ol class="list-decimal">
                        <li>Gain Control (Volume Control, Balance Control, Fade Control)</li>
                        <li>Tone Control (Bass/Mid/Treble Control, Loudness Control)</li>
                        <li>Navigation Audio (NAVI)</li>
                        <li>Cabin Talk Audio (ICC)</li>
                        <li>Hands-Free Mode (HFM)</li>
                        <li>Bluelink Call (MTS)</li>
                        <li>EQ Capability</li>
                        <li>Vehicle Speed Compensation</li>
                        <li>Beep (Beep1, Beep3, Beep4)</li>
                        <li>Mute/Unmute</li>
                        <li>Warning Sound</li>
                        <li>Electric Sound</li>
                        <li>Audio Input/Output</li>
                        <li>Quantum Logic (Surround Sound, Clari-Fi)</li>
                        <li>eESS, RNC (*)</li>
                        <li>S2T = ANC (EOC) + ASD (iESS) (**)</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">3</span>
                <span class="name">Network Communication</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">4</span>
                <span class="name">On/Off Control</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">5</span>
                <span class="name">Software Download</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">6</span>
                <span class="name">Diagnostics</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
        <div class="accordion mb-4" data-active-icon="">
            <div class="header">
                <span class="number">7</span>
                <span class="name">Others</span>
                <span class="icon material-symbols-outlined"></span>
            </div>
            <div class="content">
                <div class="content-pannel">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
                </div>
            </div>
        </div>
    </div>
</div>