<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Car Amplifer
    </h2>
    <img src="/images/services/car-amplifier-introduction.png" alt="Car Amplifer introduction" class="mb-4">
    <div class="introduction my-4">
        Developing Car Amplifier needs the right skills to build and maintain it. We deliver the expert quality you need to enhance any Car Amplifier project:
    </div>

    <div class="accordion-group">
        <div class="accordion" data-active-icon="">
            <div class="accordion-action">
                Amplifer Features
            </div>
            <div class="content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem dicta vel atque, ullam beatae enim ab totam dolores quas cumque voluptates similique repudiandae inventore iure deserunt? Pariatur, id ea?
            </div>
        </div>
    </div>
</div>