<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Cockpit
    </h2>
    <img src="/images/services/cockpit-introduction.png" alt="cockpit introduction" class="mb-4">
    <div class="introduction my-4">
        MaaZ brings its 12+ years AUTOSAR expertise to provide multiple Integrated Cockpit services, from AVN, Digital cluster & HUD, to IVI Solution, etc.,... MaaZ has successfully delivered 100+ products with our flexible and high-effective services. 
    </div>
    <div class="my-4">
        <ul>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">End-to-end solution for AVN, Cluster, and HUD products.</div>
            </li>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">Automation test solution, integrated with DevOps, accelerating the development progress.</div>
            </li>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">A-SPICE compliant. </div>
            </li>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">Mature with multiple HMI platforms: Qt, Android, CGI, Kanzi, EBGuide,..</div>
            </li>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">Support ADAS features with high quality: voice control, driver monitoring system, surround-view camera,..</div>
            </li>
            <li class="custom mb-4">
                <div class="slash-bullet"></div>
                <div class="content">Easy-to-use UI/UX design, enhancing user experience. </div>
            </li>
        </ul>
    </div>
</div>