<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Connected Car
    </h2>
    <img src="/images/services/connected-car.png" alt="connected car" class="mb-4">
    <div class="my-4">
        Leveraging top-notch technologies, MaaZ empowers your application development journey with comprehensive services for Connected Car:
    </div>
    <ul>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                Automated solution, integrated with DevOps, shortening development time. 
            </div>
        </li>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                Provide both in-car and out-car solutions. 
            </div>
        </li>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                A-SPICE level 3 compliant.
            </div>
        </li>
    </ul>
</div>