<div th:fragment="content" class="pt-4 pb-8">
    <h2 class="text-title mb-4 font-bold">
        Connected Car
    </h2>
    <img src="/images/services/ev.png" alt="ev" class="mb-4">
    <div class="my-4">
        We got you covered with our flexible, secure and efficient EV services:
    </div>
    <ul>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                Scalable and future-proof software.
            </div>
        </li>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                High effective technology from real experience, shortening the time to market.
            </div>
        </li>
        <li class="custom mb-4">
            <div class="slash-bullet"></div>
            <div class="content">
                Cost optimization.
            </div>
        </li>
    </ul>
    <div class="ev-summaries">
        <div class="summary">
            <div class="summary-title">
                <div class="number text-cu font-bold">47000</div>
                <div class="unit">Charging</div>
                <div class="separater mt-3"></div>
            </div>
            <div class="description text-item">Charging session realized within one month</div>
        </div>
        <div class="summary">
            <div class="summary-title">
                <div class="number text-cu font-bold">8000</div>
                <div class="unit">Points</div>
                <div class="separater mt-3"></div>
            </div>
            <div class="description text-item">Charging points connected with the solution in 27 countries
            </div>
        </div>
        <div class="summary">
            <div class="summary-title">
                <div class="number text-cu font-bold">70</div>
                <div class="unit">Releases</div>
                <div class="separater mt-3"></div>
            </div>
            <div class="description text-item">Releases with continuous improvement and extensions
            </div>
        </div>
        <div class="summary">
            <div class="summary-title">
                <div class="number text-cu font-bold">5</div>
                <div class="unit">Languages</div>
                <div class="separater mt-3"></div>
            </div>
            <div class="description text-item">User interface is developed in 5 different languages
            </div>
        </div>
        <div class="summary">
            <div class="summary-title">
                <div class="number text-cu font-bold">Safe</div>
                <div class="unit">Methodology</div>
                <div class="separater mt-3"></div>
            </div>
            <div class="description text-item">More than 20 teams in different areas (BackEnd, FrontEnd, DevOps)
            </div>
        </div>
    </div>
</div>