<div th:fragment="content">
    <div class="py-section pb-8 introduction pb-10">
        <h2 class="text-title font-bold">
            Platform Development Service
        </h2>
        <div class="text-item py-4">
            MaaZ provides a wide variety of Platform Development services with production-proven standards, shortening your development time and reducing total cost. 
        </div>
    </div>
    <div class="autosar-classic py-10">
        <div class="h2 gradient-text text-lg font-bold text-center mb-8">
            AUTOSAR Classic
        </div>
        <div class="grid grid-1fr-500 items-center">
            <div class="left-side mr-3">
                <ul>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            ECU Configuration and Generation tool (Artop).
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            Application (SWC) development.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            Model Based Development of the Application Layer.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            Basic Software (BSW) development.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            AUTOSAR MCAL, RTE, BSW Configuration & Integration.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            ISO 26262 Compliant CDD Development and Integration.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            AUTOSAR MCAL Development, Code Generation, Testing.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet">
                        </div>
                        <div class="content">
                            Migration to AUTOSAR 4.X onwards.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-side image-container ml-3">
                <img src="/images/services/Autosar-classic-Service.png" alt="Autosar Classic Service">
            </div>
        </div>
    </div>

    <div class="autosar-adaptive py-10">
        <div class="h2 gradient-text text-lg font-bold text-center mb-8">
            AUTOSAR Adaptive
        </div>
        <div class="grid grid-500-1fr items-center">
            <div class="left-side image-container mr-4">
                <img src="/images/services/autosar-adaptive-service.png" alt="AUTOSAR adaptive service">
            </div>
            <div class="right-side mt-4">
                <ul>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            ECU Configuration and Generation tool (Artop).
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            Application (SWC) development.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            Development and Testing for AUTOSAR Runtime. 
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            CI/CD, SDK Development and Middleware Abstraction Layer Development.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            Porting BSP, U-boot packages.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            SoC Integration and DDS (Data Distribution Service) Integration.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            ADAS Solution.
                        </div>
                    </li>
                    <li class="custom mb-4">
                        <div class="slash-bullet"></div>
                        <div class="content">
                            OTA Development.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>